#spacer-top {
    height: 38.5px;
}

#spacer-bottom {
    height: 52px;
}

#svg_out {
    margin-top: 80px;
}

#OG_inputfile {
    opacity: 0;
    width: 0px;
    cursor: default;
}

#OG_inputfile_label:hover, .OG_color_element:hover, .OG_palette:hover {
    cursor: pointer;
}

.navbar {
    z-index: 99;
}

.OG_color_element {
    margin: 5px;
    padding: 5px !important;
}
